* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

.nav-custom {
	margin: 0vh;
}

@font-face {
	font-family: "providence-bold";
	src: url("../fonts/Ogg-Regular.otf");
}

a.navbar-brand.home-button {
	color: white;
	text-decoration: none;
	font-size: 3.01vh;
}

a.nav-link {
	color: white;
	text-decoration: none;
	font-size: 2.064vh;
	text-align: center;
	margin-left: 3.096vh;
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
	outline: none;
	box-shadow: none;
}

img.logo-img {
	margin-left: 3.096vh;
}

.navbar-nav {
	margin-right: 1.548vh;
}

.bg-light {
	background-color: #3cb371 !important;
}

body,
html {
	height: 100%;
	width: 100%;
	font-family: "providence-bold";
}

body {
	background-color: #3cb371;
	background-repeat: no-repeat;
	height: 100%;
	width: 100%;
	background-position: center;
	font-family: "Prata", serif;
}

.logoimg {
	background-image: url("../images/logo_white_noi.png");
	height: 10vh;
	width: 10vh;
	background-size: cover;
	position: absolute;
	left: 85%;
	top: -10%;
	opacity: 0;
}

.navcontainer {
	position: relative;
}

.maincontainer {
	width: 100%;
	height: 100%;
	background-color: #3cb371;
}

.row {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.heading {
	width: 100%;
	font-size: 6vw;
	color: #f7f7f7;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5%;
}

.overallline {
	width: 80%;
	height: 3px;
	background-color: #f7f7f7;
	margin-bottom: 2%;
}

.entry {
	width: 72%;
	height: 6vw;
	padding-left: 0px;
	padding-right: 0px;
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 2%;
}

.sub-entry {
	width: 25%;
	padding-top: 2.5%;
	padding-bottom: 2.5%;
	font-size: 1.88vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

.line1 {
	height: 5vw;
	width: 1px;
	background-color: black;
}

.reschedulebutton {
	background-color: #e45b5b;
	height: 100%;
	color: #f7f7f7;
	transition: background-color 0.5s ease;
}

.processing {
	background-color: #d7b560;
}

body {
	opacity: 0;
	transition: opacity 1s ease;
	user-select: none;
}

.makevisible {
	opacity: 1;
}

.nosupport {
	opacity: 0;
}

@media only screen and (max-width: 767px) {
	body {
		color: black;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: white;
	}
	header,
	.maincontainer {
		display: none;
	}
	.nosupport {
		opacity: 1;
	}
}
